
.c1{
    background-color: rgba(0, 0, 0, 0.832);
    width: 50%;
    color: white;
    position: absolute;
    top:0;
    left:10px;
    padding-top: 300px;
    height: 100%;
}
.c1 li{
    list-style-position: inside;
}
.c1 h2,li{
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
}
.c1 ul{
    padding-left: 0;
}
.body{
    margin-left: auto;
    margin-right: auto;
    width:300px;
    text-align: left;

}
.c2{
    width:50%;
    background-color: bisque;
    color:black;
    top:0;
    left:50%;
    position: absolute;
    padding-top:300px ;
    height: 100%;
}
.c2 .head{
    color:white;
    background-color: blue;
}
.c3 {
    top:0px;
    position: relative;
    display: flex;
    background-color:rgb(22, 1, 255);
    margin-top:70px; 
    height: 250px;
    color: white;
    align-items: center;
    width:100%;
    /*justify-content: center;*/

}
.name{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    gap: 0;
    margin-bottom: 0;
}
.name h1{
    font-size: 80px;
    margin: 0;
    
}
.name h3{
    margin: 0;
}
.c3 img{
    margin-left:20%;
    height:150%;
    border-radius: 50%;
    border:5px solid blue;
}
.head{
    margin-left: auto;
    margin-right: auto;
    width :40%;
    border:5px solid blue;
    border-radius: 20px;
    text-align: center;
}
a{
    color: white;
}
a:hover{
    color: red;
}
.c1,.c2{
    display: flex;
    padding-top: 400px;
    flex-direction: column;
    max-width: 1000px;
}
@media (max-width:768px){
    .cont{
        display:flex;
        text-align: center;
        flex-direction: column;

    }
    .head{
        width:50%;
    }
    .cont p,li{
        font-size: 16px;
    }
    .cont h2{
        font-size: 18px;
    }
    .cont h1{
        font-size: 20px;
    }
    .c1,.c2{
        
        width: 50%;
    }
    .c3{
        height:200px;
        width:100%;
    }
    .c3 img{
        margin-left: 0;
        height: 100%;
    }
    .name h1{
        font-size: 200%;
    }
    .name h3{
        font-size: 30%;
    }
}